<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Registro climatico</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="ClimateLogForm">
            <div class="form-group">
                <label for="date" class="col-md-2 control-label">Fecha</label>
                <div class="col-md-6">
                    <input name="Fecha" type="date" class="form-control col-md-2" id="date" ng-model="data.date"
                        value={{data.date}} ng-disabled="action == 'view'" required>
                </div>
            </div>

            <div class="form-group">
                <label for="temperatureMin" class="col-md-2 control-label">Temperatura minima</label>
                <div class="col-md-6">
                    <input type="number" class="form-control" ng-model="data.temperatureMin" step="any" min="-100"
                        max="0" ng-disabled="action == 'view'">
                </div>
            </div>

            <div class="form-group">
                <label for="temperatureMax" class="col-md-2 control-label">Temperatura maxima</label>
                <div class="col-md-6">
                    <input type="number" class="form-control" ng-model="data.temperatureMax" step="any" min="0"
                        max="100" ng-disabled="action == 'view'">
                </div>
            </div>

            <div class="form-group">
                <label for="selectParcel">Parcela: </label>
                <select id="SelectParcel" class="form-control col-md-6" ng-model="data.parcel"
                    data-ng-options="t as ('Id: ' + t.id + ' Nombre: ' + t.name ) for t in parcels track by t.id"
                    ng-disabled="action == 'view'">
                </select>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <button type="submit" class="btn btn-success" ng-click="save()"
                        ng-show="action == 'new'">Guardar</button>
                    <button type="submit" class="btn btn-success" ng-click="modify()"
                        ng-show="action == 'edit'">Actualizar</button>
                    <button type="submit" class="btn btn-success" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>