<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Login</strong>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="emp_name" class="col-md-2 control-label">Nombre de usuario</label>
				<div class="col-md-3">
					<input type="text" class="form-control" placeholder="Ej.: JaneDoe" ng-model="username" required>
				</div>
			</div>
			<div class="form-group">
				<label for="emp_salary" class="col-md-2 control-label">Clave</label>
				<div class="col-md-3">
					<input type="password" class="form-control" placeholder="Clave super secreta" ng-model="password"
						required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-3">
					<button type="submit" class="btn btn-primary" ng-click="login()">Iniciar sesion</button>
				</div>
			</div>
		</form>
	</div>
</div>