<script>
    /*
    Carga los botones para acceder a la pagina de lista de empleados,
    parcelas, registros de plantacion y registros climaticos
    */
    loadNavbar();
</script>
<div id="navbarContent"></div>

<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Parcela</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">

            <div class="form-group">
                <label for="parcel_name" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="parcel_name" placeholder="Nombre" ng-model="data.name"
                        ng-disabled="action == 'view'">
                </div>
            </div>

            <div class="form-group">
                <label for="parcel_hectare" class="col-md-2 control-label">Hectárea</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" id="parcel_hectare" placeholder="Metros cuadrados"
                        ng-model="data.hectare" ng-disabled="action == 'view'" />
                </div>
            </div>

            <div class="form-group" ng-hide="action == 'new'">
                <label for="parcel_registrationDate" class="col-md-2 control-label">Fecha de registro</label>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="parcel_registrationDate" ng-model="data.registrationDate"
                        value={{data.registrationDate}} ng-disabled="action == 'view'">
                </div>
            </div>

            <div class="form-group">
                <label for="parcel_active" class="col-md-2 control-label">Activa</label>
                <div class="col-md-3">
                    <input type="checkbox" value="False" id="parcel_active" ng-model="data.active"
                        ng-disabled="action == 'view'">
                </div>
            </div>

            <div class="form-group">
                <leaflet center="Madryn" event-broadcast="events" markers="markers" width="100%" height="480px">
                </leaflet>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <button type="submit" class="btn btn-success" ng-click="save()"
                        ng-show="action == 'new'">Crear</button>
                    <button type="submit" class="btn btn-success" ng-click="update()"
                        ng-show="action == 'edit'">Actualizar</button>
                    <button type="submit" class="btn btn-success" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>